<%if !(cat.is_cat?)%>

    <li>
    <%=cat.name%>
    <ul>
    <% cat.subcategories.each do |s|%>
      <%= render partial: "cat", locals: {cat: s} %>
    <% end %>
    </ul>
    </li>

<% else %>
  <li> <%= link_to cat.name, {action: "edit_form", category: cat.id}, method: :get, class: 'select_cat', :remote => true%></li>
<% end %>
