<%@products.each do |e|%>
  <div>
    <%= link_to e.name, {controller: 'products',action: 'show', id:e.id}, method: :get, class: 'select_cat', :local=>true%>
    <%#=e.name%>
    <%=e.price%>
    <%= link_to 'Buy', {controller:'orders',action: 'add', product:e.id}, method: :post, class: 'select_cat', :local => true%>
  </div>
  <br>
<% end %>
