<p id="notice"><%= notice %></p>
<div id="replace">
<h1>Categories</h1>

<%# byebug%>
<%= render partial: "/products/cat", locals: {cat: @category,address:"build_cat",v_id:nil,r:true} %>


<br>
</div>
<%#= link_to 'New Category', new_category_path %>
