<%if !(cat.is_cat?)%>

    <li>
    <%=cat.name%>
    <ul>
    <% cat.subcategories.each do |s|%>
      <%= render partial: "/products/cat", locals: {cat: s,address:address,v_id:v_id,r:r} %>
    <% end %>
    </ul>
    </li>

<% else %>
  <% if v_id.nil?%>
    <%v_id=cat.id%>
  <% end %>
  <% if r %>
  <%#byebug%>
    <li> <%= link_to cat.name, {action: address, category: cat.id, id:v_id,search:@search}, method: :get, class: 'select_cat', :remote => true%></li>
  <% else %>
      <li> <%= link_to cat.name, {action: address, category: cat.id, id:v_id,search:@search}, method: :get, class: 'select_cat', :local=>true%></li>
  <% end %>

<%# end %>
<%end%>
